.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  padding-bottom: 3px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}
